<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="container">
    <h1>Mueve tu robot</h1>
    <div class="alert alert-info text-center" >
        <label>Tamanio del terreno</label>  
        <p>(<%=$ancho%>,<%=$alto%>)</p> 
        <label>Posicion del robot (X,Y)</label>  
        <p>(<%=$posicionX.to_s%>,<%=$posicionY.to_s%>,<%=$orientacion.to_s%>)</p>
    </div>
    <form method='post' action='/actionMover'>
        <div class="form-group">
            <label>Movimientos</label>
            <input class="form-control" type='text' name='movimiento'>
        </div>
        <input class="btn btn-primary" type='submit' value ='ejecutar'>
    </form>
    <form action="/principal">
        <input class="btn btn-primary" type="submit" value="Ir pagina principal">
    </form>
</div>

<style type="text/css" media="screen">

    body {
        background-image: url("http://files.all-free-download.com//downloadfiles/wallpapers/1920_1080/wall_e_game_4256.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .container{
        <%# display:inline-block; %>
        margin-left:auto;
        margin-right:auto;
        margin-top:10rem;
        text-align:center;
        width:30%;
        background-color:rgba(207, 204, 201, 0.8);
    }
</style>