

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="container">

    <h1>Bienvenido <%=$nombre_persona%></h1>
    <br>
    
    <form action="/crearTabla">
        <input class="btn btn-primary" type="submit" value="Crear Tabla">
    </form>
    <form action="/ubicaRobot">
        <input class="btn btn-primary" type="submit" value="Robot">
    </form>
    <form action="/movimientos">
        <input class="btn btn-primary" type="submit" value="Mover Robot">
    </form>
    <div>
        <% if $ancho != 0 %> 
            <div class="alert alert-info" >
                <label>Tamanio del terreno</label>  
                <p>(<%=$ancho%>,<%=$alto%>)</p>    
            </div>
        <% end %>
        
        <% if $posicionX != 0 %> 
            <div class="alert alert-info" >
                <label>Robot posicionado en</label>      
                <p>(<%=$posicionX.to_s%>,<%=$posicionY.to_s%>,<%=$orientacion.to_s%>)</p>
            </div>
        <% end %>
    </div>

</div>

<style type="text/css" media="screen">

body {
    background-image: url("http://files.all-free-download.com//downloadfiles/wallpapers/1920_1080/wall_e_game_4256.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container{
     <%# display:inline-block; %>
    margin-left:auto;
    margin-right:auto;
    margin-top:10rem;
    text-align:center;
    width:30%;
    background-color:rgba(207, 204, 201, 0.8);

</style>